:root{
    --main-color: blue ;
    --main-color-white: white ;
    --main-color-black: black ;
    --main-color-green: green ;
    --main-color-danger: red ;
    --main-color-white-light: #b8b4b4 ;
}